/* Creative Head - UX UI (Brands, Apps, Products) Quick Digital Solutions AE */

position: absolute;
width: 612px;
height: 75px;
left: 498.89px;
top: 1588.12px;

font-family: 'Mluvka';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
/* or 117% */
letter-spacing: -0.04em;

color: #000000;

